* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #71be6, #9b59b6);
}

.container {
    max-width: 700px;
    width: 100%;
    background-image: url('ug.jpg'); /* Replace 'your-image-url.jpg' with the URL of your image */
    background-size: cover; /* Adjust the background size as needed */
    background-position: center;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    color: white; /* Set text color to white */
}

.container .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71be6, #9b59b6);
}

.container form .user-details {
    display: flex;
    flex-wrap: wrap;
}

form .user-details .input-box {
    margin-bottom: 20px;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details {
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
    color: white; /* Set text color to white */
}

.user-details .input-box input {
    height: 55px;
    width: 95%;
    outline: none;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    color: white; /* Set text color to white */
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #7c0da8;
}

form .gender-details .gender-title {
    font-size: 40px;
    font-weight: 500;
    color: white; /* Set text color to white */
}

form .gender-details .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

.gender-details .category label {
    display: flex;
    align-items: center;
}

.gender-details .category .dot {
    height: 18px;
    width: 18px;
    background: #7c0da8;
    border-radius: 50%;
    margin-right: 10px;
}

form .button input {
    height: 100%;
    width: 200%;
    outline: none;
    color: white; /* Set text color to white */
    border: none;
    font-size: 18px;
    font-weight: 890;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form .button input:hover {
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}
